.mainFooter {
  background-color: #2c682e;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainFooter p {
  margin: 0;
  font-size: 14px;
  color: #fff;
}

.mainFooter img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
